__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/
.DS_Store
data/raw/*
data/staging/*
data/processed/*
exports/*
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/processed/.gitkeep
!exports/.gitkeep
